.nav {
  list-style-type: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px 0;
  text-align: center;
  background: blueviolet;
}

.nav li {
  display: inline-block;
  margin: 0 5px;
}

.nav a {
  font-style: italic;
  text-decoration: none;
  color: #fff;
}

.nav .activeRoute {
  text-decoration: underline;
}
